<div class="container">
  <h1>User Manager</h1>
  <hr>
  <div class="page"></div>
</div>
<% content_for :js do %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>

  <script type="text/javascript">
    var UserList = Backbone.View.extend({
      el: ".page",
      render: function(){
        this.$el.html("CONTENT SHOULD SHOW HERE");
      }
    });
    var Router = Backbone.Router.extend({
      routes: {
        '': 'home'
      }
    });
    var userList = new UserList();
    var router = new Router();
    router.on("route:home", function(){
      console.log("I AM ON")
      userList.render();
    });
    Backbone.history.start();
  </script>
  <% end %>